@import '../../styles/resources.scss';

.newsTitle {
    display: block;
    text-decoration: none;
    color: $color-black;
    border: 1px solid $color-gray;
    width: 500px;
    margin-bottom: 20px;
}

.newsTitle:hover {
    background: $color-gray;
}

.unknown {
    color: $color-red;
    font-style: italic;
    font-size: 15px;
}
