.movieRankGood {
    color: blue;
}

.movieRankSoso {
    color: orange;
}

.movieRankBad {
    color: red;
}

.torrent {
    display: block;
    color: gray;;
}

.movieDetail {
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    width: 500px;
    margin-top: 20px;
}