/** color defined */@at-root
$color-black: black;
$color-red: red;
$color-green: green;
$color-orange:orange;
$color-yellow: yellow;
$color-blue: blue;
$color-gray: gray;

/** Title styles */
$movieTitle_display_color: green;
