/** color */
$color-blue: blue;
$color-orange: orange;
$color-red: red;
$color-black: black;
$color-red: red;
$color-green: green;
$color-orange: orange;
$color-yellow: yellow;
$color-blue: blue;
$color-gray: gray;
$color-dark-gray: darkgray;

/** 타이틀 */
$movieTitle_display_color: green;