@import '../../../Styles/resources.scss';

.titleStyle {
    font-size: $font-mid;
    text-align: $app-center;
    color: $color-blue;
    width: $border-width;
}

.appName:hover {
    font-size: $font-xl;
    background-color: $color-gray;
}
