@import '../../../Styles/resources.scss';

@mixin border-box($border-top, $px) {
    display: block;
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    @if ($border-top) {
        border-top: $px;
    }
    width: $border-width;
    margin-bottom: 10px;
}

.movieRankGood {
    font-size: $font-xl;
    color: $color-blue;
}

.movieRankSoso {
    color: $color-orange;
}

.movieRankBad {
    color: $color-red;
}

.torrent {
<<<<<<< HEAD:src/Pages/MovieList/MovieDetail/style.module.scss
    display: block;
=======
    display: $color-black;
>>>>>>> master:src/components/MovieList/MovieDetail/style.module.scss
    color: $color-gray;
}

.movieDetail {
    @include border-box(true, 0);
}
<<<<<<< HEAD:src/Pages/MovieList/MovieDetail/style.module.scss

.coopyUrl {
    font-size: $font-small;
    color: $color-gray;
}
=======
>>>>>>> master:src/components/MovieList/MovieDetail/style.module.scss
