@import './Styles/resources.scss';

.App {
  margin-top: 20px;
}

.titleStyle {
    font-size: $font-mid;
  text-align: $app-center;
  color: $color-blue;
  width: $border-width;
}

.appName:hover {
  cursor: pointer;
  font-size: $font-xl;
  background-color: $color-gray;
}
